[core]
	editor = code
	pager = diff-so-fancy | less -FXRi

[push]
	default = current

[pull]
	default = current

[user]
	name = Sergio Kopplin
	email = sergiokopplin@gmail.com
	
[alias]
	st = status
	log = log --all --graph --decorate --oneline --abbrev-commit
