[/]
show-window-previews=false
dot-style-unfocused='METRO'
stockgs-panelbtn-click-only=false
show-appmenu=false
hotkeys-overlay-combo='TEMPORARILY'
taskbar-position='LEFTPANEL'
dot-color-3='#5294e2'
intellihide-hide-from-windows=false
trans-use-custom-gradient=false
show-activities-button=false
trans-use-custom-opacity=false
group-apps-label-font-size=14
show-show-apps-button=true
dot-color-4='#5294e2'
location-clock='STATUSRIGHT'
focus-highlight-color='#eeeeee'
dot-color-unfocused-1='#5294e2'
dot-style-focused='METRO'
animate-show-apps=false
panel-position='TOP'
show-apps-icon-side-padding=8
show-showdesktop-hover=true
appicon-padding=4
primary-monitor=1
group-apps-label-font-color='#dddddd'
group-apps-use-launchers=false
dot-color-unfocused-2='#5294e2'
trans-use-custom-bg=false
animate-app-switch=false
panel-size=24
group-apps=true
show-tooltip=false
group-apps-label-font-weight='inherit'
group-apps-underline-unfocused=true
show-favorites=false
multi-monitors=true
dot-color-unfocused-3='#5294e2'
dot-color-1='#5294e2'
group-apps-label-max-width=160
intellihide=true
group-apps-use-fixed-width=true
stockgs-keep-dash=false
focus-highlight=false
show-showdesktop-button=true
trans-bg-color='#204a87'
animate-window-launch=false
show-apps-icon-file=''
dot-color-unfocused-4='#5294e2'
dot-color-2='#5294e2'
dot-position='TOP'
appicon-margin=8
isolate-workspaces=false
showdesktop-button-width=8
show-window-previews-timeout=0
