[/]
taskbar-position='LEFTPANEL'
dot-style-unfocused='SOLID'
hotkeys-overlay-combo='TEMPORARILY'
show-activities-button=false
show-show-apps-button=true
group-apps-label-font-size=14
show-apps-icon-side-padding=8
show-showdesktop-hover=true
stockgs-keep-dash=false
show-tooltip=false
panel-position='TOP'
trans-use-custom-bg=true
animate-show-apps=true
show-window-previews=false
primary-monitor=1
appicon-padding=4
group-apps-label-font-color='#dddddd'
group-apps-use-launchers=false
dot-style-focused='SOLID'
animate-app-switch=false
panel-size=24
group-apps=true
trans-use-custom-opacity=true
group-apps-label-font-weight='inherit'
group-apps-underline-unfocused=true
show-favorites=false
multi-monitors=false
group-apps-label-max-width=160
show-window-previews-timeout=0
group-apps-use-fixed-width=true
show-showdesktop-button=true
trans-use-custom-gradient=true
show-apps-icon-file=''
animate-window-launch=false
showdesktop-button-width=8
location-clock='STATUSRIGHT'
dot-position='TOP'
appicon-margin=8
isolate-workspaces=false
stockgs-panelbtn-click-only=false
